@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #541cae;
  --color-secondary: #96909c;
  --color-white: #ffffff;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-primary);
    background-color: var(--color-white);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
  }

  p {
    color: var(--color-secondary);
  }

  a, button {
    color: var(--color-white);
  }

  abbr {
    @apply cursor-help no-underline;
  }
}
